body{
    background-color: #011133;
    height: 100%;
}

.logos{
    margin-top: 40px;
    margin-left: 30px;
}

.logo2{
    margin-top: -35px;
    margin-left: 10px;
}
.logo3{
    margin-left: 75px;
    margin-top: -35px;
}

.background{
    margin-top: 100px;
}

.background2{
    margin-left: 500px;
    margin-top: 100px;
}

.background3{
    margin-left: 300px;
    margin-top: -200px;
}

.background4{
    margin-left: 350px;
    margin-top: 30px;
}

.background5{
    margin-left: 730px;
    margin-top: -170px;
}

.background6{
    margin-left: 500px;
    margin-top: -590px;
}

.background7{
    margin-left: 700px;
    margin-top: -300px;
}

.background8{
    margin-left: 760px;
   
}

.background9{
    margin-top: 200px;
}

.background10{
    margin-top: -590px;
    margin-left: 230px;
}

.background11{
    margin-top: 60px;
    margin-left: 300px;
}

.background12{
    margin-left: 990px;
    margin-top: -170px;
}

.background13{
    margin-left: 600px;
    margin-top: -590px;
}

.background14{
    margin-left: 900px;
    margin-top: -300px;
}

.background15{
    margin-left: 860px;
   
}

.background16{
    margin-top: 500px;
    margin-left: 900px;
}

.background17{
    margin-top: -590px;
    margin-left: 930px;
}

.background18{
    margin-top: 60px;
    margin-left: 870px;
}

.background19{
    margin-top: -590px;
    margin-left: 998px;
}

.background20{
    margin-top: 110px;
    margin-left: 1260px;
}

.background21{
    margin-left: 1170px;
    margin-top: -10px;
}

.background22{
    margin-top: 98px;
    margin-left: 1200px;
}